@media screen and (min-width: 769px) {
    body { margin: 0; }
    .section { padding-top: 4rem; padding-bottom: 3rem; }
    .section-title { margin-bottom: var(--mb6); }
        .section-title::after { width: 80px; top: 3rem; }
    .nav { height: calc(var(--header-height) + 1rem); }
    .nav-list { display: flex; padding-top: 0; }
    .nav-item { margin-left: var(--mb6); margin-bottom: 0; }
    .nav-toggle { display: none; }
    .nav-link { color: var(--second-color); }

}

@media screen and (min-width: 1024px) {
    .bd-grid { margin-left: auto; margin-right: auto; }
    .home-img { right: 10%; }
}

@media screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        top: var(--header-height);
        right: -100%;
        width: 80%;
        height: 100%;
        padding: 2rem;
        background-color: var(--second-color);
        transition: .5s;
    }

    .show { right: 0; }
} 
